---
import { PokemonListType } from '@/types/Data';

const { pokemonName } = Astro.params;

const resData = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonName}`);
const pokemonData = await resData.json();

export const getStaticPaths = async () => {
  const resList = await fetch('https://pokeapi.co/api/v2/pokemon');
  const pokemonList = await resList.json();
  if (pokemonList) {
    return pokemonList.results.map((pokemon) => {
      return { params: { pokemonName: pokemon.name } };
    });
  }
};
---

<div>{pokemonData.name}</div>
