---
import type { PokemonDataType } from '@/types/Data';

import PokemonLayout from '@/layouts/pokemonLayout.astro';
import { Image } from '@astrojs/image/components';

const { pokemonName } = Astro.params;

const resData = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonName}`);
const pokemonData: PokemonDataType = await resData.json();

export const getStaticPaths = async () => {
  const resList = await fetch('https://pokeapi.co/api/v2/pokemon');
  const pokemonList = await resList.json();
  if (pokemonList) {
    return pokemonList.results.map((pokemon) => {
      return { params: { pokemonName: pokemon.name } };
    });
  }
};

const pokemonImage =
  pokemonData.sprites.other['official-artwork']['front_default'];

console.log(pokemonImage);
---

<PokemonLayout>
  <div class=''>
    <Image
      src={pokemonImage}
      alt={pokemonData.name}
      width={100}
      height={100}
      format='png'
    />
  </div>
</PokemonLayout>
