---
import PokemonLayout from '@/layouts/pokemonLayout.astro';
import Card from '@/components/Card.astro';
import type { PokemonListType } from '@/types/Data';

const res = await fetch('https://pokeapi.co/api/v2/pokemon');
const pokemonList: PokemonListType = await res.json();
---

<title>Pokemon DB</title>

<PokemonLayout>
  {
    pokemonList
      ? pokemonList.results.map((pokemon, index) => (
          <Card
            image={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${
              index + 1
            }.png`}
            pokemonName={
              pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)
            }
          />
        ))
      : null
  }
</PokemonLayout>
