---
import PokemonLayout from '@/layouts/pokemonLayout.astro';
import Card from '@/components/Card.astro';
import type { PokemonListType } from '@/types/Data';

const res = await fetch('https://pokeapi.co/api/v2/pokemon');
const pokemonList: PokemonListType = await res.json();
---

<title>Pokemon DB</title>

<PokemonLayout>
  {
    pokemonList
      ? pokemonList.results.map((pokemon) => <h1>{pokemon.name}</h1>)
      : null
  }
</PokemonLayout>
